.target{
    background-color:aqua;
    transition: ease-in 1s;
}
.question-card{
    transition: ease-out 1s;
}
.list-group-item-action.disabled{
    color: #000;
}

label{
    cursor: pointer;
}
.navigator{
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 100;
}